body {
    background-image: url('Foto/fon2.png'); 
    background-size: cover; 
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    width: 100%;
    justify-content: space-around;
  }
  
  .menu li {
    margin-right: 10px;
  }
  
  .menu li a {
    display: block;
    padding: 20px; 
    background-color:  rgba(148, 102, 223, 0.478);
    border-radius: 40px; 
    text-decoration: none;
    color: rgb(218, 210, 245);
    font-size: 20px; 
    font-family: 'Inter', sans-serif;
  }
  .menu li a:hover {
    display: block;
    padding: 20px; 
    background-color:  rgb(57, 42, 108);
    border-radius: 50px; 
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px; 
    font-family: 'Inter', sans-serif;
  }
  .container {
    display: flex;
    align-items: center; 
  }


  .container2 {
    max-width: 85%;
    margin:  auto;
    background-color:  rgba(148, 102, 223, 0.478);
    padding: 40px;
    padding-top: 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}


  
.basement {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    font-family: 'Inter', sans-serif;
}

.basement li {
    list-style-type: none;
}

.basement a {
    text-decoration: none;
    color: rgb(218, 210, 245);
    padding: 8px 16px;
    display: block;
}

.basement a:hover {
    color:  rgb(0, 0, 0);
}
 
footer {
background-color: rgb(162, 137, 229);
font-family: 'Inter', sans-serif;
text-align: center;
padding-bottom: 2%;

}
.container3 {
    
    display: flex;
    align-items: center;
    padding: 3%;
  }

  .znak {
    padding-left: 10%;
  }



  body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container0 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-box {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}
.search-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.term-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    width: 100%;
}
.term-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}
.term-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.term-card:hover {
    background-color: #f0f0f0;
}
.description {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    border-radius: 5px;
    display: none;
}